*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body
{
	background-image: url(images/background.jpg) !important;
	background-size: cover !important;
	background-position: center !important;
	font-family: sans-serif !important;
}

.menu-bar
{
	background: rgb(0,100,0) !important;
	text-align: center !important;
}

.menu-bar ul
{
	display: inline-flex !important;
	list-style: none !important;
	color: #fff;
}

.meu-bar ul li
{
	width: 120px !important;
	margin: 15px !important;
	padding: 15px !important;
}