*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body
{
	background-image: url("../images/background.jpg") !important;
	background-size: cover !important;
	background-position: center !important;
	font-family: sans-serif !important;
}

.menu-bar
{
	background: rgb(0,100,0) !important;
	text-align: center !important;
}

.menu-bar ul
{
	display: inline-flex !important;
	list-style: none !important;
	color: #fff;
}

.menu-bar ul li
{
	width: 120px !important;
	margin: 15px !important;
	padding: 15px !important;
}

.menu-bar ul li a
{
	text-decoration: none;
	color: #fff;
}

.active, .menu-bar ul li:hover
{
	background: #2bab0d;
	border-radius: 3px;
}

.menu-bar .fa
{
	margin-right: 8px;
}

.sub-menu-1
{
	display: none;
}

.menu-bar ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
	background: rgb(0,100,0);
	margin-top: 15px;
	margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul
{
	display: block !important;
	margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li
{
	width: 150px;	
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}